.body {
    background: url("https://image.similarpng.com/very-thumbnail/2020/11/Stacks-coins-money-bag-on-transparent-background-PNG.png");
    background-position: center center;
    background-size: cover cover;
    padding: 0;
    margin: 0;
}